@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap");

/* CSS Reset */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  font-family: "Quicksand", sans-serif;
}

body {
  font-family: inherit;
  box-sizing: border-box;
}

/* COLORS */
:root {
  --color-primary: #55c57a;
  --color-primary-light: rgba(126, 213, 111, 0.8);
  --color-primary-dark: rgba(40, 180, 133, 0.8);

  --color-secondary-light: #decba4;
  --color-secondary-dark: #3e5151;

  --color-tertiary-light: #2998ff;
  --color-tertiary-dark: #5643fa;

  --color-grey-light-1: #f7f7f7;
  --color-grey-light-2: #eee;

  --color-grey-dark: #777;
  --color-grey-dark-2: #999;
  --color-grey-dark-3: #333;

  --color-white: #fff;
  --color-black: #000;
  --color-blue: #192b41;
  --color-blue-light: #143f70;

  --shadow: rgba(0, 0, 0, 0.7);

  /*FONT*/
  --default-font-size: 1.6rem;
  --results-font-size: 52px;
  --font-family: "Quicksand", sans-serif;
}

/* Layout */
.app {
  /*This will cover the complete viewport height and width, as well as place the calculator in the middle (vertically and horizontally). */
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(
      rgba(16, 29, 44, 0.9),
      rgba(16, 29, 44, 0.9)
    ),
    url(https://i.pinimg.com/originals/91/b5/cd/91b5cdab51e207263169904b227503b4.jpg);
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
}

/* Calculator */
.calculator {
  height: 80vh;
  width: 25%;
  background-color: var(--color-grey-light-2);
  box-shadow: 0px 20px 120px -20px rgba(0, 0, 0, 0.7);
}

/* Media Queries */
@media screen and (max-width: 1280px) {
  .calculator {
    width: 50%;
  }
}

@media screen and (max-width: 640px) {
  .calculator {
    width: 80%;
  }
}

/* Screen */
.screen {
  height: 25vh;
  width: 100%;
  padding: 0 2rem;
  overflow: hidden;
  white-space: nowrap;

  color: var(--color-grey-light-2);
  /* background-image: linear-gradient(to right bottom, #3e5151, #decba4); */
  background-color: var(--color-blue);
}

.computation-screen {
  height: 6vh;
  font-size: 2.2rem;
  /* To display the value at the bottom-right of the container */
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 10px;
}

.result-screen {
  height: 19vh;
  font-size: 5rem;
  font-weight: 500;
  /* To display the value at the bottom-right of the container */
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 0 10px;
}

/* Keypad */
.keypad {
  height: 55vh;
  width: 100%;
}

.keypad__row {
  height: 11vh; /* (80vh calculator - 25vh screen) / 5 keypadRow components = 11vh */
  width: 100%;
  display: flex; /* To control the dimension */
}

/* Button */
.btn {
  border: 0;

  width: 25%;
  height: 100%;
  font: 400 20px var(--font-family);
  font-size: 2.5rem;
  background-color: var(--color-grey-light-1);
  border: 1px solid transparent;
  outline: none;
  color: var(--color-grey-dark);
  display: flex;
  justify-content: center;
  align-items: center;

  transition: all 0.2s;
  cursor: pointer;
}

.btn:hover {
  color: var(--color-blue);
  background-color: var(--color-grey-light-2);
}
.btn:active,
.btn:focus {
  outline: none;
  transform: translateY(-0.1rem);
  -webkit-transform: translateY(-0.1rem);
  -moz-transform: translateY(-0.1rem);
  -ms-transform: translateY(-0.1rem);
  -o-transform: translateY(-0.1rem);
  box-shadow: 0 0rem 1rem rgba(0, 0, 0, 0.1);
}
.btn--large {
  border: 0;

  width: 50%;
  color: var(--color-grey-light-1);
  /* background-image: linear-gradient(to right bottom, #decba4, #3e5151); */
  background-color: rgba(25, 43, 65, 0.93);
}

.btn--large:hover {
  background-color: darken(var(--color-grey-light-2), 15%);
  color: var(--color-grey-dark-3);
}

.btn--large:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  -webkit-transform: scaleX(1.4) scaleY(1.6);
  -moz-transform: scaleX(1.4) scaleY(1.6);
  -ms-transform: scaleX(1.4) scaleY(1.6);
  -o-transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn--large:active,
.btn--large:focus {
  outline: none;
  transform: translateY(-0.1rem);
  -webkit-transform: translateY(-0.1rem);
  -moz-transform: translateY(-0.1rem);
  -ms-transform: translateY(-0.1rem);
  -o-transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.btn--primary {
  color: var(--color-blue);
}
.btn--primary:hover {
  background-color: var(--color-blue);
  color: var(--color-grey-light-2);
}

.btn--operator {
  color: var(--color-blue);
}
.btn--operator:hover {
  background-color: var(--color-blue);
  color: var(--color-grey-light-2);
}
